
  .header-container {
    width: 100%; /* Ensure the container spans the entire width */
    position: fixed;
    top: 0;
    z-index: 1;
    left: 1;
  }

  .app-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212529;
    padding: 10px 0px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    height: 50px;
    width: 100%; /* Ensure header spans entire width */
  }

  .menu {
    display: flex;
    align-items: left;
    justify-content: space-between;
    width: 100%;
    margin-left: -10px;
  }


  .menu-icon {
    font-size: 32px;
    cursor: pointer;
    padding-left: 10px; 
    padding-right: 10px;
    color: #fff;
    margin-bottom: 5px;
  }

  .logo {
    width: 30px;
    height: 30px;
    /* background-color: #4CAF50; 
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
    cursor: pointer;
    /* margin-left: 10px; */
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 50%;
  }

  .cart-icon {
    /* Styling for the cart icon */
    margin-left: 15px; /* Adjust as needed */
    cursor: pointer;
    color: #fff;
    margin-top: 10px;
  }

  .search-input{
    margin-top: 10px;

  }

  .user-profile{
    margin-left: 15px; /* Adjust as needed */
    cursor: pointer;
    color: #fff;
    margin-top: 10px;

  }

  .cart-dropdown {
    position: absolute;
    right: 0;
    top: 100%; /* Position just below the cart icon */
    width: 300px; /* Adjust width as needed */
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 100; /* Ensure it's above other content */
    /* other styles */
  }

  .user-profile {
    position: relative; /* Ensure the container is positioned */
    cursor: pointer;
    /* other styles */
  }
  


	