.displayitem{
    margin: 0;
    padding: 0 10px;
    position: relative;
    width: 500px;
    height: 150px;
    display: flex;
    
    .displayimage{
        display: flex;
        justify-content: center;
        margin: 0 5px;
        height: 100%;
    }

    .cartbtn {
        left: 120%;
        top: 60%;
        width: 15%;
    }
}